#spin {
  position: absolute;
  top: 50%;
  left: 60%;
  height: 200px;
  width: 200px;
  background-color: #A66255;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
}

#spin:hover {
  font-size: 50px;
}

#triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid $redwood;
  position: absolute;
  top: -15%;
  left: 25%;
}

.wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: $eggshell;
}

.wheel:hover {
  cursor: pointer;
}

.wheel > .option:hover {
  cursor: default;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  padding: 8px;
}

.spin-btn.btn-secondary {
  background-color: $redwood;
  color: $eggshell;
  border: none;
  border-radius: 8px;
  padding: 8px;
  opacity: .8;
}

.spin-btn.btn-secondary:hover {
  opacity: 1;
}