@import 'variables';
@import 'navbar';
@import 'wheel';
@import 'filters';
@import 'buttons';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: $eggshell;
  color: $brown;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.content-text {
  padding: 16px;
}

.home-quote {
  font-size: 2rem;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
}