@import 'variables';
@import 'navbar';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: $eggshell;
  color: $brown;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.content-text {
  padding: 16px;
}

.sign-in-btn {
  margin-top: 30px;
  background-color: $redwood;
  color: $eggshell;
  border: none;
  border-radius: 8px;
  padding: 8px;
  opacity: .8;
}

.sign-in-btn:hover {
  opacity: 1;
}

.add-activity-btn.btn-secondary {
  background-color: $redwood;
  color: $eggshell;
  border: none;
  border-radius: 8px;
  padding: 8px;
  opacity: .8;
}

.add-activity-btn.btn-secondary:hover {
  opacity: 1;
}

.home-quote {
  font-size: 2rem;
}

.bubble-container {
  display: flex;
  flex-wrap: wrap;
}

.activity-bubble {
  background-color: none;
  color: $brown;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid $brown;
  margin: 16px 16px 0 0;
}